# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Node modules (untuk frontend nanti)
node_modules/
build/
dist/

# Model besar (opsional, kalau model > 100MB)
# *.pkl
